.menu{
    background-color: #D5B0AC;
    font-weight: bold;
    color: #402E2A;
    width: 100%;
    text-align: center
}
span{
    display: inline-block;
    width: 100px;
    line-height: 30px;
}
span:hover{
    color: #FFFFFF;
    background-color: #9CD08F;
}
.menu_vertical{
    width: 100px;
}
.menu_vertical span{
    border:1px solid white;
    border-width: 1px 0px 0px
}